:root {
  --md-elevated-button-container-shape: 0.75rem;
}

* {
  font-family: ProductSans;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  margin: 0;
}

.calculadora {
  padding: 1rem;
  background-color: white;
  border-radius: 2rem;
  box-shadow: 0rem 0.5rem 1rem rgba(0, 0, 0, 0.2);
  width: auto;
  transform: scale(0.95);
  display: flexbox;
  place-items: center;
}

.calculadora .inputs {
  width: auto;
}

.calculadora .botoes .md-typescale-display-small {
  margin: 2rem;
  line-height: 1rem;
}

.calculadora .botoes md-elevated-button {
  justify-content: center;
  padding: 1rem;
  margin: 0.25rem;
  font-weight: bold;
  font-size: 1rem;
  width: 10rem;
}

.calculadora #info {
  opacity: 0.5;
  font-size: 1rem;
  line-height: 1rem;
}

.calculadora #saida {
  font-size: 1.5rem;
  line-height: 1rem;
}
