@font-face {
  font-family: "Sprinklescolors";
  src: url("../fonts/Sprinklescolors.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Alte Haas Grotesk";
  src: url("../fonts/AlteHaasGrotesk.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
